#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

body {
	background-color: #30353e;
}

.square {
	width: 30px;
	height: 30px;
	background-color: #22262d;
	border: 1px solid black;
}

.square.occupied {
	background-color: white !important;
}

.square-preview {
	background-color: rgba(128, 128, 128, 0.103);
}

.outerRow {
	background-color: transparent !important;
}

.GameBox {
	display: grid;
	border: 15px solid rgba(255, 255, 255, 0.267);
	border-radius: 10px;
	grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
}
