#root {
	max-width: 1280px;
	height: 100%;
	text-align: center;
	background-color: #30353e;
	display: block;
}

html,
body,
#root {
	height: 100%;
}

body {
	background-color: #30353e;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

header {
	width: 100%;
	border-bottom: 1px solid gray;
}

header h2 {
	font-size: 1rem;
	line-height: 1rem;
	margin: 0;
	font-weight: 500;
}

h2 {
	color: white;

	z-index: 9999;
}

.game {
	margin: 2rem;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 250px auto;
	gap: 2rem;
	grid-template-areas: 'storage gamebox queue' 'score gamebox queue';
	position: relative;
}

.square {
	width: 30px;
	height: 30px;
	background-color: #22262d;
	border: 1px solid black;
}

.square-occupied {
	border: 1px solid black;
}

.square-preview {
	background-color: rgba(128, 128, 128, 0.103);
}

.outerRow {
	background-color: transparent !important;
}

.gamebox-container {
	position: relative;
}

.GameBox {
	display: grid;
	border: 15px solid rgba(255, 255, 255, 0.267);

	grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
}

.start-button {
	font-size: 1.3rem;
	width: 8rem;
	height: 3rem;
	text-wrap: nowrap;
	padding: 0;
	font-weight: 700;
	text-transform: capitalize;
	padding: 0.2em;
	grid-area: button;
}

.tetrominostorage-container {
	position: relative;
	grid-area: storage;
	justify-self: flex-end;
}

.tetromino-storage {
	background-color: black;
	display: grid;
	grid-template-columns: repeat(5, 30px);
	grid-template-rows: repeat(2, 30px);
	width: max-content;
	height: max-content;
	border: 15px solid #676b72;
}

.box-title {
	position: absolute;
	top: -40px;
	text-align: center;
	color: white;
	right: 50%;
	transform: translate(50%);
}

.tetrominoesqueue-container {
	position: relative;
	grid-area: queue;
}

.tetrominoesqueue-list {
	background-color: #22262d;
	display: flex;
	flex-direction: column;
	border: 15px solid #676b72;

	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
	width: max-content;
	height: max-content;
	box-sizing: border-box;
}

.tetrominoesqueue-item {
	background-color: black;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.score {
	background-color: #22262d;
	height: max-content;
	max-width: 350px;
	border: 15px solid #676b72;
	grid-area: score;
}

.score h2 {
	font-size: 1.2rem;
	font-weight: 800;
}

.score span {
	display: block;
	font-size: 1.1rem;
	margin: 0.3rem;
	font-weight: 500;
}
