#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	background-color: #30353e;
}

body {
}

.game {
	display: flex;
	gap: 2rem;
	position: relative;
}

.square {
	width: 30px;
	height: 30px;
	background-color: #22262d;
	border: 1px solid black;
}

.square.occupied {
	background-color: white !important;
}

.square-preview {
	background-color: rgba(128, 128, 128, 0.103);
}

.outerRow {
	background-color: transparent !important;
}

.GameBox {
	display: grid;
	border: 15px solid rgba(255, 255, 255, 0.267);
	border-radius: 10px;
	grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
}

.start-button {
	font-size: 1.3rem;
	width: 8rem;
	height: 3rem;
	text-wrap: nowrap;
	padding: 0;
	font-weight: 700;
	text-transform: capitalize;
	padding: 0.2em;
}

.tetromino-storage {
	background-color: black;
	display: grid;
	grid-template-columns: repeat(5, 30px);
	grid-template-rows: repeat(2, 30px);
	width: max-content;
	height: max-content;
	border: 15px solid #676b72;
	border-radius: 10px;
}

.gameover {
	position: absolute;
	top: -40px;
	right: 50%;
	color: white;
	transform: translateX(75%);
}

.tetrominoesqueue-list {
	display: flex;
	flex-direction: column;

	list-style: none;
	margin: 0;
	padding: 0;
}
.tetrominoesqueue-item {
	background-color: black;
	display: grid;
	grid-template-columns: repeat(5, 30px);
	grid-template-rows: repeat(2, 30px);
	width: max-content;
	height: max-content;
	border: 2px solid white;
}
